<form action="/login" method="POST">
    <label for="rollno">Roll No.</label>
    <input type="text" id="rollno" name="rollNo">
    <label for="password">Password:</label>
    <input type="password" id="password" name="password">
    <button type="submit">Login</button>
</form>